# Ignore everything under stow_submodule/
stow_submodule/*

# UNignore the submodule directories
!stow_submodule/fzf
!stow_submodule/fzf/.fzf
!stow_submodule/oh-my-zsh
!stow_submodule/oh-my-zsh/.oh-my-zsh

# Ignore kali/, msys2/ and termux/ worktrees
kali/
msys2/
termux/

# Ignore .master_root file that should exist and point to master branch to be able to source utils.sh
.master_root
